<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="dvSeccionesControlSaldos" class="seccionesControlSaldos">
    <div id="dvControlSaldos" class="controlSaldos">
        <div class="cardHeader criteriosBusqueda">
            <h2>Devolución de Remesas</h2>
            <div class="fila3Columnas  marginBottom5Px paddingLeft15Px">
                <div class="dvElementos">
                    <input type="text" id="txtBusqueda" placeholder="BL" />
                </div>
                <div class="dvElementos enLinea col-md-4">
                    <input type="text" id="txtItinerario" value="" title="Itinerario" placeholder="ITINERARIO" />
                </div>
            </div>
        </div>
        <br />
        <div class="cardTabla">
            <table id="tContenedores" class=" table table-bordered table-responsive">
                <thead>
                    <tr>
                        <td class="centrarColumna">BL</td>
                        <td class="centrarColumna">ITINERARIO</td>
                        <td class="centrarColumna" hidden>nIdTipoRevision</td>
                        <td class="centrarColumna">TIPO DE REVISIÓN</td>
                        <td class="centrarColumna" hidden>nNumeroCompañia</td>
                        <td class="centrarColumna">COMPAÑIA</td>
                        <td class="centrarColumna">ADEUDO FLETES</td>
                        <td class="centrarColumna">ADEUDO DEMORAS</td>
                        <td class="centrarColumna">ADEUDO DAÑOS</td>
                        <td class="centrarColumna" hidden>nIdreferencia</td> 
                        <td class="centrarColumna">REALIZAR DEVOLUCIÓN</td>
                    </tr>
                </thead>
                <tbody id="tbContenedores">
                </tbody>
            </table>
            <div id="dvSpinner" class="centrar invisibilidad">
                <i class="fa fa-spinner fa-spin spinnerIcon"></i>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/jsFiles/DevolucionesAutomaticas.js" type="text/javascript"></script>
}
