
<div id="divSecundario" class="divSecundario">
    <div class="divImagenPrincipal">
        <img src="~/images/LogoMaritimex.png" id="imagenPrincipal" alt="MARITIMEX" />
    </div>
    <div class="row">
        <input type="text" id="txtDatos" hidden />
    </div>
</div>

